@media (min-width: 992px) {
  .header .logo {
    float: right;
    text-align: right;
  }
}
.header .logo .the-toggler {
  right: auto;
  left: 15px;
}
@media (min-width: 992px) {
  .header .navbar {
    float: right;
  }
}
.header .navbar li {
  float: right;
}
@media (max-width: 767px) {
  .header .navbar li {
    text-align: right;
  }
}

/* Start Services */
@media (min-width: 992px) {
  .services .service-box {
    float: right;
  }
  .services .service-box:not(:last-of-type) {
    padding-left: 20px;
  }
}
.services .service-box .service-title {
  color: #666;
}
.services .service-box .service-title i {
  margin-left: 10px;
}

/* End Services */
/* Start Our Players*/
@media (min-width: 768px) {
  .our-players .player-box {
    float: right;
  }
}
@media (min-width: 992px) {
  .our-players .player-box {
    text-align: right;
  }
}

/* End Our Players */
/* Start Lorem Ipsum */
.lorem-ipsum .lorem-box {
  float: right;
}
.lorem-ipsum .lorem-box:not(:last-of-type) {
  padding-left: 20px;
}

/* End Lorem Ipsum */
.footer .gallery, .footer .info, .footer .contact {
  float: right;
}
@media (min-width: 768px) {
  .footer .gallery .img-box img {
    float: right;
  }
}
@media (min-width: 768px) {
  .footer .gallery .img-box .text {
    float: right;
  }
}
.footer .copyright .text, .footer .copyright .author {
  float: right;
}
.footer .copyright .author {
  text-align: left;
}
