@import 'helpers/variables';

$float-left: right;
$float-right: left;

$text-right: left;
$text-left: right;

//header
.header{
    .logo{
     @media #{$minMedium} {
        float: $float-left;
        text-align: $text-left;
    }
        .the-toggler{
            right: auto;
            left: 15px;
        }
  }
    .navbar{
        @media #{$minMedium} {
            float: $float-left;
         }
        li{
            float: $float-left;
            @media #{$maxMobile} {
                text-align: $text-left;
            }          
        }
    }
}

//homepage
//-----------------------------------------------------------
/* Start Services */

.services{
    .service-box{
        @media #{$minMedium} {
            float: $float-left;
            &:not(:last-of-type){ 
                padding-left: 20px;
            } 
        }
        .service-title{
            color: #666;
            i{
                margin-left: 10px;
            }
        }
    }
}

/* End Services */
//-----------------------------------------------------------
/* Start Our Players*/

.our-players{
    .player-box{
        @media #{$minSmall} {
            float: $float-left;
        }
        @media #{$minMedium} {
            text-align: $text-left;
          }
    }
}

/* End Our Players */
//-----------------------------------------------------------
/* Start Lorem Ipsum */

.lorem-ipsum{
    .lorem-box{
        float: $float-left;
        &:not(:last-of-type){
            padding-left: 20px;
        } 
    }        
}

/* End Lorem Ipsum */

//footer

.footer{
    .gallery, .info, , .contact{
        float: $float-left;
    }
    .gallery{
      .img-box{
            img{
                @media #{$minSmall} {
                    float: $float-left;
                }
            }
            .text{
                @media #{$minSmall} {
                    float: $float-left;
                }
            }
        }
    }

.copyright{
        .text, .author{
            float: $float-left;
        }
        .author{
            text-align: $text-right;
        }
    }
}